body {
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    margin:0;
    background: linear-gradient(#141e30, #243b55);
}

h1, h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    margin-top: 1%;
    font-size: 50px;
}

form {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 600px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #ffffff;
}

textarea, select, input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    margin-top: 8px;
}

input[type="submit"] {
    background-color: #83bdff;
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #8a8a8a;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 25%;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #ffffff;
}

th {
    background-color: #141e30;
    color: #ffffff;
}